body{
 
    background: linear-gradient(144.99deg, rgba(227, 0, 118, 0.27) -1.79%, rgba(24, 1, 47, 0) 52.06%, rgba(2, 176, 224, 0.37) 100%),
     #000027;
     background-repeat: no-repeat;
    
}
.head{
   
    width:100%;
    height:80px;
    color: aliceblue;
    text-align: center;
    align-items: center;
}
.burger{
    display: none;
    position:relative;
    width:37px;
    height: 37px;
    top:6px;
  }
  ul li a{
    text-decoration: none;
    color:white;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 400;
  }
  ul li a:hover{
    color: rgb(248, 180, 0);
  }
  ul li a:active{
    color: rgb(248, 180, 0);
  }
   
  .line1,.line2,.line3{
    width:36px;
    height: 4px;
    background-color: white;
    margin-bottom:5px;
  }
  .active .l1{
    transform: rotate(45deg);
    position:absolute;
    top:10px;
  }
  .active .l3{
    transform: rotate(-45deg);
    position:relative;
    top:10px;
  }
  .active .l2{
    display: none;
  }
  .nav-section{
    position:relative;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 6%;
    height: 10vh;
   
    ;
  }
  .logo-section img{
    width:200px;
    height: 48px;
  }
  .links ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap:60px;
    margin-bottom: 0px;
  }
  .contact-btn button{
    width: 108px;
    height: 48px;
    padding:8px 20px;
    color:black;
    background: #FFFFFF; 
    border:none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;  
  }
  .contact-btn button a{
    text-decoration: none;
    color: #0E0E0E;
  }
  @media(max-width:1000px){
    .menu-links{
        position:absolute;
        flex-direction: column;
        width:100%;
        height: 85vh;
        background-color:#000;
        top:84px;
        left:0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left:-100%;
        transition:all 1.5s ease-in-out;
        /* transform:rotateY(-360deg); */
        color:white;
    }
    .link-active{
        margin-left:0px;
        background-color: #000;
        /* transform:rotateY(0deg); */
        /* border-top:2px solid white; */
    }
    .links ul{
        gap:20px;
    }
    .burger{
        display: block;
    }
    .contact-btn{
        display: none;
    }
    ul li a{
        font-size: 25px;
        font-family: 'DM Sans';
        margin-left: -30px;
    }
     
  }
.iframe-tag1{
    display: block;  /* iframes are inline by default */   
    height: 100vh;  /* Set height to 100% of the viewport height */   
    width: 100vw;  /* Set width to 100% of the viewport width */     
    border: none; /* Remove default border */
    background: lightyellow; /* Just for styling */
}
.footer{
    margin-top: 20px;
}
.footer h4{
   
    background: none;
    width:100%;
   
    color: aliceblue;
    text-align: center;
    align-items: center;
    line-height: 1.7em;
    font-size: 18px;
    margin-bottom: 20px;
}
.iframe-tag2{
    display:none ;
}
@media screen and (max-width:768px){
    .iframe-tag1{
        display:none ;
    }
    .iframe-tag2{
        display:block !important ;
        display: block;  /* iframes are inline by default */   
        height: 70vh;  /* Set height to 100% of the viewport height */   
        width: 100vw;  /* Set width to 100% of the viewport width */     
        border: none; /* Remove default border */
        background: lightyellow; /* Just for styling */
        margin-bottom: 25px;
    }
    .footer h4{
   
        background: none;
        width:100%;
        line-height: 19px;
        font-size: 14px;
        color: aliceblue;
        text-align: center;
        align-items: center;
    }
}